*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body
{
    background-color: rgb(22, 187, 220);
}
h1
{
    text-align: center;
    color: white;
    font-size: 80px;
    margin-top: 200px;
}
#txt1
{
    margin-left: 600px;
    margin-top: 30px;
    width: 250px;
    height: 30px;
    border: 2px solid white;
    color:black;
    font-size: large;
}
#btn
{
   height:30px ;
   width:60px ;
   border: 2px solid white;
   color: black;
   margin-left: 10px;
}
ul
{
    margin-left: 700px;
    margin-top: 30px;
    font-size: 20px;
}
